{% comment %}
    Renders facets (filtering and sorting)

    Accepts:
    - results: {Object} Collection or Search object
    - enable_filtering: {Boolean} Show filtering when true
    - enable_sorting: {Boolean} Show sorting when true
    - filter_type: {String} Type of filter

    Usage:
    {% render 'facets', results: collection.products %}
{% endcomment %}


{%- liquid
  assign sort_by = results.sort_by | default: results.default_sort_by
  if results.url
    assign results_url = results.url
  else
    assign terms = results.terms | escape
  endif
-%}


<collection-filters>
  <div class="">
    <h2>
      Filter and Sort Products
    </h2>
    <div>
      <div class="">
        <div class="">

          <button  type="button" aria-expanded="false" id="sort-by">
            Sort By
          </button>

          <div role="region" aria-hidden="true" aria-labelledby="sort-by">
            {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
            <select name="sort_by" class="" id="SortBy" data-filter>
                <option value="" selected="selected">
                  High to Low
                </option>
                <option value="" selected="selected">
                  Low to High
                </option>
                <option value="" selected="selected">
                  Best Seller
                </option>
                <option value="" selected="selected">
                  Newest
                </option>
              </select>
          </div>

        </div>

        <div class="facet-filters__field">
    
          <button  type="button" aria-expanded="false" id="filter-by">
            Filter By
          </button>
          
          <div role="region" aria-hidden="true" aria-labelledby="filter-by" >

            <fieldset data-size-filters>
              <legend class="visually-hidden">
                Size
              </legend>
            </fieldset>

            <fieldset data-color-filters>
              <legend class="visually-hidden">
                Color
              </legend>
             
            </fieldset>

            {% comment %} <fieldset data-color-filters>
              <legend class="visually-hidden">
                Toggle Availability
              </legend>
             
              <label for="availability-filter">
                Hide Sold Out Items
              </label>
              <input type="checkbox" value="hide-sold-out-products" name="Hide sold out items" id="availability-filter" data-filter data-availability-filter>
            </fieldset> {% endcomment %}

          </div>

          <button type="button" aria-label="Filter products by selected filters" data-activate-filters>
            See Results
          </button>

          <button type="button" aria-label="Clear selected filters and view all products" data-clear-filters>
            Clear All
          </button>
        </div>
      </div>
    </div>
  </div>
</collection-filters>
