/*------------------------------------*\
    #Section Lookbook Copy
\*------------------------------------*/


.lookbook-copy-section {
    padding-bottom: 0;
    margin-bottom: 0;
}


.lookbook-copy-section__inner {
    padding: var(--level6);
    padding-top: var(--level9);
    padding-bottom: var(--level7);
}


@media only screen and (min-width: 930px) {
    .lookbook-copy-section__inner {
        padding-top: var(--level10);
        padding-bottom: calc(var(--level7) * 2);
    }
}

.lookbook-copy-section__heading {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    display: block;
    font-family: var(--tertiary-font-family);
    font-size: var(--h3);
    margin-bottom: var(--level7);
}

@media screen and (min-width:930px) {
    .lookbook-copy-section__heading {
        font-size: var(--h2);
        margin-bottom: var(--level8);
        margin-top: var(--level3);
    }
}



.lookbook-copy-section__body {
    text-align: center;
    font-size: var(--normal);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--level5);
}

@media screen and (min-width:600px) {
    .lookbook-copy-section__body {
        max-width: 38rem;
    }
}


@media screen and (min-width:930px) {
    .lookbook-copy-section__body {
        font-size: var(--h4);
        max-width: 68rem;
    }
}

@media screen and (min-width: 1600px) {
    .lookbook-copy-section__body {}
}