/*------------------------------------*\
    #Section Lookbook Display Grid
\*------------------------------------*/

.lookbook-display-grid {
    background-color: #eceae5;
}

.lookbook-display-grid__header {
    text-align: center;
}

.lookbook-display-grid__heading {
    font-family: var(--tertiary-font-family);
    opacity: 0;
    position: fixed;
    left: -999;
    margin-bottom: var(--level3);
}

@media screen and (min-width: 700px) {
    .lookbook-display-grid__heading {
        font-family: var(--tertiary-font-family);
        opacity: 1;
        position: relative;
        left: auto;
        padding-top: calc(var(--level10) + var(--level2));
        margin-bottom: var(--level5);
    }
}

@media screen and (min-width: 930px) {
    .lookbook-display-grid__heading {
        font-size: var(--h3);
        padding-top: calc(var(--level10) + var(--level7));
        margin-bottom: var(--level7);
    }
}



.lookbook-collection-grid__products {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 50%));
    column-gap: var(--level2);
    width: 100%;
    padding-left: var(--level6);
    padding-right: var(--level6);
    padding-top: var(--level4);
    padding-bottom: var(--level10);
}


@media screen and (min-width: 700px) {
    .lookbook-collection-grid__products {
        grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
        column-gap: var(--level3);
    }
}

@media screen and (min-width: 900px) {
    .lookbook-collection-grid__products {
        max-width: 78rem;
        margin-right: auto;
        margin-left: auto;
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media screen and (min-width: 1681px) {
    .lookbook-collection-grid__products {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.lookbook-collection-grid__product-container {
    position: relative;
}


.lookbook-collection-grid__product {
    padding-bottom: 120%;
    position: relative;
    margin-bottom: calc(var(--level5) * -1);
    display: block;
    transition: all .2s cubic-bezier(0.16, 1, 0.3, 1);
}

.lookbook-collection-grid__product:hover,
.lookbook-collection-grid__product:focus {
    transform: scale(1.03);
}

@media screen and (min-width: 930px) {
    .lookbook-collection-grid__product {
        margin-bottom: calc(var(--level6) * -1);
    }
}

.lookbook-collection-grid__product img {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.lookbook-display-grid__cta {
    text-align: center;
    font-size: var(--h5)
}

@media screen and (min-width: 930px) {
    .lookbook-display-grid__cta {
        text-align: center;
        font-size: var(--h4);
        margin-bottom: var(--level6);
    }
}