/*------------------------------------*\
    #Featured Collection
\*------------------------------------*/

.featured-collection-section {
    background-color: rgb(var(--color-base-background-2));
    margin-bottom: 0;
    padding-bottom: var(--level7);
}

@media screen and (min-width: 930px) {
    .featured-collection-section {
        padding-bottom: var(--level10);
    }
}

.featured-collection-section__inner {
    padding-left: var(--level7);
    padding-right: var(--level7);
    padding-top: var(--level8);
}

@media screen and (min-width: 930px) {
    .featured-collection-section__inner {
        padding-top: calc(var(--level10) + var(--level2));
    }
}

.featured-collection-section__copy {
    text-align: center;
}

.featured-collection-section__copy__heading {
    font-family: var(--tertiary-font-family);
    font-size: var(--h3);
    max-width: 21rem;
    margin-bottom: var(--level7);
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 930px) {
    .featured-collection-section__copy__heading {
        max-width: 100%;
        margin-bottom: var(--level9);
        font-size: var(--h2);
    }
}

.featured-collection-section__copy__body {
    font-size: var(--normal);
    max-width: 29rem;
    margin-bottom: var(--level6);
    margin-right: auto;
    margin-left: auto;
}


@media screen and (min-width: 700px) {
    .featured-collection-section__copy__body {
        max-width: 31rem;
    }
}

@media screen and (min-width: 930px) {
    .featured-collection-section__copy__body {
        max-width: 60rem;
        margin-bottom: var(--level10);
        font-size: var(--h5);
    }
}


.featured-collection-section__copy__cta {
    margin-bottom: var(--level7);
}

@media screen and (min-width: 700px) {
    .featured-collection-section__copy__cta {
        margin-bottom: var(--level7);
    }
}


@media screen and (min-width: 930px) {
    .featured-collection-section__copy__cta {
        margin-bottom: var(--level10);
    }
}

.featured-collection-section__copy__cta a {
    font-size: var(--h5);
}

@media screen and (min-width: 930px) {
    .featured-collection-section__copy__cta a {
        font-size: var(--h4);
    }
}


.featured-collection-section__images {
    width: 100%;
    display: grid;
    max-width: 21rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width: 700px) {
    .featured-collection-section__images {
        display: grid;
        max-width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: var(--level4);
        max-width: 67rem;
    }
}

@media screen and (min-width: 930px) {
    .featured-collection-section__images {
        column-gap: var(--level7);
        max-width: 97rem;
    }
}


.featured-collection-section__images__image {
    position: relative;
    padding-bottom: 140%;
    background-color: rgb(var(--color-base-background-3));
}


@media screen and (min-width: 700px) {
    .featured-collection-section__images__image {
        padding-bottom: 155%;
    }
}

.featured-collection-section__images .featured-collection-section__images__image-container:first-child {
    display: none;
}

@media screen and (min-width: 700px) {
    .featured-collection-section__images .featured-collection-section__images__image-container:first-child {
        display: block;
    }
}

.featured-collection-section__images .featured-collection-section__images__image-container:last-child {
    display: none;
}

@media screen and (min-width: 700px) {
    .featured-collection-section__images .featured-collection-section__images__image-container:last-child {
        display: block;
    }
}

.featured-collection-section__images__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}