
<div role="button">
Subscribe
</div>

<div>
diMELO
</div>

{% schema %}
{
  "name": "Collection Load More",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text"
    }
  ]
}
{% endschema %}