{% render "dotbannersnippetcss" %}<style></style>
<div class="page-width dotbannerwrapper-3" style="text-align:center;">
			<div class="section-block" data-id="3">
			<noscript>
			<div class="featured-content" style="background-image: url("https://dotbanner.flagon.digital/2000x1330.png"); background-position: center center">
			</div>
			</noscript>
			<div class="featured-contentD lazyload dotbanner-image-hotspot"
			style="max-width:100%;display:inline-block;background-position: center center; background-image: Durl(https://dotbanner.flagon.digital/2000x1330.png);"
			data-sizes="auto"
			data-parent-fit="cover">
			
			<img alt='Image seo text' width="100%" height="auto" loading="lazy"
			src="https://dotbanner.flagon.digital/2000x1330.png"
			style="object-position:center;object-fit:fill"
			></div>
			</div>
			</div>
			{% schema %}
			{
			"name": {
				"cs": "Dotbanner 3",
				"da": "Dotbanner 3",
				"de": "Dotbanner 3",
				"en": "Dotbanner 3",
				"es": "Dotbanner 3",
				"fi": "Dotbanner 3",
				"fr": "Dotbanner 3",
				"it": "Dotbanner 3",
				"ja": "Dotbanner 3",
				"ko": "Dotbanner 3",
				"nb": "Dotbanner 3",
				"nl": "Dotbanner 3",
				"pl": "Dotbanner 3",
				"pt-BR": "Dotbanner 3",
				"pt-PT": "Dotbanner 3",
				"sv": "Dotbanner 3",
				"th": "Dotbanner 3",
				"tr": "Dotbanner 3",
				"vi": "Dotbanner 3",
				"zh-CN": "Dotbanner 3",
				"zh-TW": "Dotbanner 3"
			},
			"class": "shopify-section--full-width index-section dotbanner-3",
			"locales": {
						"en": {
								"imageurl": "https://burst.shopifycdn.com/photos/two-people-in-a-car-with-a-large-map-held-up.jpg?width=1850&format=pjpg&exif=1&iptc=1",
								"image_align": "center center",
								"btntitle": "btntext",
								"title": "text1"
							},
						"de": {
								"imageurl": "https://burst.shopifycdn.com/photos/two-people-in-a-car-with-a-large-map-held-up.jpg?width=1850&format=pjpg&exif=1&iptc=1",
								"image_align": "center center",
								"btntitle": "btntext",
								"title": "text1"
								}
			},
			"settings": [
				{
					"type": "header",
					"content": "Dotbanner for Home page"
				},
                {
                  "type": "paragraph",
                  "content": "This section must be added only to the Home page layout. To change it content or settings please go to the Apps > Dotabanner application"
                }
  			],
			"presets": [
				{
				"name": {
					"cs": "Dotbanner 3 section",
					"da": "Dotbanner 3 section",
					"de": "Dotbanner 3 section",
					"en": "Dotbanner 3 section",
					"es": "Dotbanner 3 section",
					"fi": "Dotbanner 3 section",
					"fr": "Dotbanner 3 section",
					"it": "Dotbanner 3 section",
					"ja": "Dotbanner 3 section",
					"ko": "Dotbanner 3 section",
					"nb": "Dotbanner 3 section",
					"nl": "Dotbanner 3 section",
					"pl": "Dotbanner 3 section",
					"pt-BR": "Dotbanner 3 section",
					"pt-PT": "Dotbanner 3 section",
					"sv": "Dotbanner 3 section",
					"th": "Dotbanner 3 section",
					"tr": "Dotbanner 3 section",
					"vi": "Dotbanner 3 section",
					"zh-CN": "Dotbanner 3 section",
					"zh-TW": "Dotbanner 3 section"
				},
				"category": {
					"cs": "Obrázek",
					"da": "Billede",
					"de": "Foto",
					"en": "Image",
					"es": "Imagen",
					"fi": "Kuva",
					"fr": "Image",
					"it": "Immagine",
					"ja": "画像",
					"ko": "이미지",
					"nb": "Bilde",
					"nl": "Afbeelding",
					"pl": "Obraz",
					"pt-BR": "Imagem",
					"pt-PT": "Imagem",
					"sv": "Bild",
					"th": "รูปภาพ",
					"tr": "Görsel",
					"vi": "Hình ảnh",
					"zh-CN": "图片",
					"zh-TW": "圖片"
				}
				}
			]
			}
			{% endschema %}