{{ 'section-featured-collection.css' | asset_url | stylesheet_tag }}



<section>
  <div>
  ssdsd
  </div>  
</section>

{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class": "section",
  "settings": [

  ]
}
{% endschema %}

{% comment %} 
"presets": [
  {
    "name": "t:sections.featured-collection.presets.name"
  }
] {% endcomment %}