



<div class="instagram-section__inner">
    <h2>
        {{ section.settings.heading }}    
    </h2>
    <ul>
        {% comment %} <li>
        
        </li> {% endcomment %}
    </ul>
</div>

<script src="{{ 'instafeed.min.js' | asset_url }}" defer="defer"></script>


{% javascript %}
    document.addEventListener('DOMContentLoaded', ()=> {
        fetch('https://ig.instant-tokens.com/users/XXXXXX/instagram/XXXXXX/token?userSecret=XXXXX')
        .then(resp => resp.json())
        .then(data => {
            // const feed = new Instafeed({
            // accessToken: data.Token, // Access token from json response
            // });
            // feed.run();
        })
        .catch((error) => {
        console.log(error)
        });        
    });
{% endjavascript %}



{% schema %}
{
  "name": "Instagram Section",
  "tag": "section",
  "class": "instagram-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    }
  ],
  "templates": [
    "index",
    "page",
    "product"
  ],
  "presets": [
    {
      "name": "Instagram Section"
    }
  ]
}
{% endschema %}
