{{ 'vendor-swiper.css' | asset_url | stylesheet_tag }}
{{ 'lookbook-slideshow.css' | asset_url | stylesheet_tag }}
<script type="module" src="{{ 'lookbook-slideshow.js' | asset_url }}" defer="defer"></script>


{% style %}
  .lSSlideOuter {
    float: none !important;
  }
{% endstyle %}

<div>

<div id="evm-lookbook-9418">
</div>
<script  async ="true" src="https://apps.expertvillagemedia.com/shopify/evm-lookbook/embed.js" data-shop-id="honorthe-gift.myshopify.com" data-gallery-id="9418" type="text/javascript">

</script>
</div>

{% schema %}
{
  "name": "Lookbook Slideshow",
  "tag": "section",
  "class": "lookbook-slideshow-container",
  "templates": [
    "page"
  ],
  "settings": [
    {
      "type": "text",
      "id": "name",
      "label": "Collection Name"
    }
  ],
  "blocks": [
    {
      "type": "slideshow_slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lookbook Slideshow"
    }
  ]
}
{% endschema %}