
{{ 'lookbook-copy-section.css' | asset_url | stylesheet_tag }}

<div class="lookbook-copy-section__inner" style="
    {% if section.settings.copy_bg_color == 'background-1' %}
        background-color: rgb(var(--color-base-background-1))
    {% endif %}
    {% if section.settings.copy_bg_color == 'background-2' %}
        background-color: rgb(var(--color-base-background-2))
    {% endif %}
    {% if section.settings.copy_bg_color == 'background-3' %}
        background-color: rgb(var(--color-base-background-2))
    {% endif %}
    ">
    <div class="page-width">
        <h2 class="lookbook-copy-section__heading">
            {{ section.settings.heading }}
        </h2>
        <div class="lookbook-copy-section__body">
            {{ section.settings.body }}
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Lookbook Copy Section",
  "tag": "section",
  "class": "lookbook-copy-section",
  "templates": [
    "page"
  ],
  "settings": [
    {
      "type": "text",
      "label": "Section Heading",
      "id": "heading"
    },
    {
      "type": "richtext",
      "label": "Section Body",
      "id": "body"
    },
    {
      "type": "select",
      "id": "bg_color",
      "label": "Copy Background Color",
      "info": "Pulled from Theme Settings > Background Colors",
      "options": [
        {
          "value": "background-1",
          "label": "Bakground 1"
        },
        {
          "value": "background-2",
          "label": "Bakground 2"
        },
        {
          "value": "background-3",
          "label": "Bakground 3"
        }
      ],
      "default": "background-1"
    }
  ],
  "presets": [
    {
      "name": "Lookbook Copy Section"
    }
  ]
}
{% endschema %}