/*------------------------------------*\
    #Collection Filter
\*------------------------------------*/

collection-filters {
    opacity: 0;
    width: 100%;
}

.collection-filters {
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: var(--level8);
    width: 100%;
    z-index: 2;
}

@media only screen and (min-width: 700px) {
    .collection-filters {
        max-width: 22rem;
        margin-right: 0;
        margin-left: auto;
    }
}

@media only screen and (min-width: 930px) {
    .collection-filters {
        margin-top: calc(var(--level2) * -1)
    }
}



.collection-filters__options {
    display: flex;
    z-index: 1;
    position: relative;
    color: rgb(var(--color-base-text));
}

.collection-filters__options button {
    background-color: #fff;
    outline: 0;
    border: 1px solid rgb(var(--color-base-text));
    padding: var(--level1);
    font-size: var(--h5);
    color: rgb(var(--color-base-text));
}


.collection-filters__options.collection-filters__options button:first-child {
    border-right: 0;
}


.collection-filters__options button.is-active {
    color: #fff;
    background-color: black;
}

.collection-filters__options button:hover,
.collection-filters__options button:focus,
.collection-filters__options button[aria-expanded="true"] {
    cursor: pointer;
    color: #fff;
    background-color: black;
}

.collection-filters__filtering-forms__forms {
    position: relative;
    width: 100%;
    z-index: 0;
}


.collection-filters__filtering-forms__form {
    position: absolute;
    top: var(--level7);
    background-color: #fff;
    width: 100%;
    border: 1px solid rgb(var(--color-base-text));
}


.collection-filters__filtering-forms__form__inner {
    padding: var(--level4);
}

@media only screen and (min-width: 700px) {
    .collection-filters__filtering-forms__form__inner {
        padding: var(--level6);
    }
}


.collection-filters__filtering-forms__form[aria-hidden='true'] {
    display: none;
}


.filtering-forms__actions {
    left: 0;
    right: 0;
    bottom: 0;
}

.filtering-forms__actions button {
    background-color: #fff;
    margin-bottom: 0;
    outline: 0;
    border: 0;
    font-size: var(--h6);
    padding-top: var(--level1);
    padding-bottom: var(--level1);
    border-top: 1px solid rgb(var(--color-base-text));
    color: rgb(var(--color-base-text));
}


@media only screen and (min-width: 700px) {
    .filtering-forms__actions button {
        padding-top: var(--level2);
        padding-bottom: var(--level2);
    }
}


.filtering-forms__actions button:hover,
.filtering-forms__actions button:focus {
    cursor: pointer;
    color: #fff;
    background-color: black;
}



.filter-field-set__legend {
    margin-bottom: var(--level2);
    text-transform: uppercase;
    font-size: var(--h5);
}


@media only screen and (min-width: 700px) {
    .filter-field-set__legend {
        font-size: var(--h4);
    }
}



.filter-sizes {
    display: flex;
    margin-bottom: var(--level3);
    max-width: 20rem;
    flex-wrap: wrap;
}


.filter-size {
    position: relative;
    display: block;
    width: 2.75rem;
    height: 2.15rem;
    margin-bottom: var(--level2);
    margin-right: var(--level2);
}

@media only screen and (min-width: 700px) {
    .filter-size {
        width: 2.75rem;
        height: 2.75rem;
        margin-right: var(--level2);
    }
}


.filter-size__label {
    font-size: var(--micro);
    width: 100%;
    height: 100%;
    line-height: 0;
}

@media only screen and (min-width: 700px) {
    .filter-size__label {
        font-size: var(--normal);
    }
}


.filter-size__label:hover .filter-size__label__box {
    background-color: black;
    color: #fff;
    cursor: pointer;
}

.filter-size__label__box {
    border: 1px solid rgb(var(--color-base-text));
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: grid;
    align-items: center;
    justify-content: center;
}


.filter-size input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    visibility: hidden;
}

.filter-size input:checked+.filter-size__label .filter-size__label__box {
    background-color: black;
    color: #fff;
}





/*------------------------------------*\
    #Filter Colors
\*------------------------------------*/


.filter-colors {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    max-width: 16rem;
}

.filter-color {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: .25rem;
    margin-bottom: var(--level4);
}


.filter-color label {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

.filter-color label:hover {
    cursor: pointer;
}

.filter-color__label__swatch {
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 100%;
    background-color: black
}

.filter-color__label__swatch:hover {
    border: 2px solid black;
}

.filter-color__label__swatch[data-color="filter-color:brown"] {
    background-color: #98766B;
}

.filter-color__label__swatch[data-color="filter-color:blue"] {
    background-color: rgb(70, 84, 194);
}

.filter-color__label__swatch[data-color="filter-color:green"] {
    background-color: #A0A67E;
}

.filter-color__label__swatch[data-color="filter-color:yellow"] {
    background-color: #f3d36a;
}

.filter-color__label__swatch[data-color="filter-color:red"] {
    background-color: #BE3943;
}

.filter-color__label__swatch[data-color="filter-color:black"] {
    background-color: #0d0f12;
}

.filter-color__label__swatch[data-color="filter-color:white"] {
    background-color: #F3F3F3;
}


.filter-color__label__swatch[data-color="filter-color:grey"] {
    background-color: #999999;
}

.filter-color__label__swatch[data-color="filter-color:purple"] {
    background-color: purple;
}

.filter-color__label__swatch[data-color="filter-color:orange"] {
    background-color: rgb(220, 158, 45);
}


.filter-color input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 0;
}

.filter-color input:checked+.filter-color__label .filter-color__label__swatch {
    border: 2px solid rgb(var(--color-base-text));
}


.sort-options {
    padding-top: var(--level1);
}

.sort-option {
    position: relative;
    text-transform: uppercase;
    margin-bottom: var(--level1);
}

.sort-option label {
    width: 100%;
    text-align: center;
    display: block;
}

@media screen and (min-width: 930px) {
    .sort-option label {
        font-size: var(--normal);
    }
}

.sort-option label:hover {
    text-decoration: underline;
    cursor: pointer
}

.sort-option input {
    width: 100%;
}

.sort-option input:checked+label {
    text-decoration: underline;
}

.sort-option input:checked+label {
    text-decoration: underline;
}

.sort-option label:hover {}

.sort-option input {
    opacity: 0;
    position: absolute;
    left: 0;
    visibility: hidden;
}