/*------------------------------------*\
    #Cart Notification
\*------------------------------------*/

.cart-notification-wrapper {
    position: relative;
    z-index: 1;
}


.cart-notification {
    background-color: rgb(var(--color-background));
    border-color: rgba(var(--color-foreground), 0.2);
    border-style: solid;
    border-width: 0 0 0.1rem;
    padding: 1.5rem 2.25rem;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 2;
    right: 0;
    left: auto;
    padding-bottom: 7rem;
    transition: all .2s ease;
    position: fixed;
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    width: 100vw;
    top: 0;
    right: 0;
    border: none;
    background-color: white;
    pointer-events: none;
    display: block;
    border-left: 1px solid rgb(var(--color-base-text));
}


.cart-notification__footer {
    /* opacity: 0;
    display: none; */
}

.cart-notification.is-empty .cart-notification__footer {
    opacity: 0;
    /* display: none;
      visibility: hidden; */
}

.cart-notification__empty-state {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    top: 0;
    display: flex;
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
    pointer-events: none;
    display: none;
}


.cart-notification.is-empty .cart-notification__empty-state {
    opacity: 1;
    z-index: 10;
    pointer-events: all;
    font-size: var(--h5);
    display: block;
}


.cart-notification.is-active {
    pointer-events: all;
    transform: translateY(0);
}


.cart-notification.is-hidden {
    transform: translateY(-100%);
    pointer-events: none;
}



@media screen and (min-width: 750px) {
    .cart-notification {
        border-width: 0 0.1rem 0.1rem;
        width: 100vw;
        left: auto;
    }
}

@media screen and (min-width: 930px) {
    .cart-notification {
        padding-top: 8rem;
    }

    cart-notification {
        z-index: 3;
        position: relative;
    }
}



@media screen and (min-width: 930px) {

    .cart-notification {
        transform: translateX(100%);
    }

    .cart-notification.is-active {
        transform: translateX(0);
    }


    .cart-notification.is-hidden {
        transform: translateX(100%);
    }

    .cart-notification {
        width: 40vw;
    }
}

@media screen and (min-width: 930px) {
    .cart-notification {
        width: 38rem;
    }
}


@media screen and (min-width: 1100px) {
    .cart-notification {
        width: 40vw;
        max-width: 38rem;
        min-width: 33rem;
    }
}


.cart-notification__inner {
    height: 100%
}

@media screen and (min-width: 930px) {
    .cart-notification__inner {
        max-width: 34em;
        margin-right: auto;
        margin-left: auto;
        padding-left: var(--level7);
        padding-right: var(--level7);
    }
}

@media screen and (min-width: 1281px) {
    .cart-notification__inner {
        max-width: 31rem;
        margin-right: auto;
        margin-left: auto;
    }
}








/*------------------------------------*\
      #Cart Overlay
  \*------------------------------------*/

.cart-notification-overlay {
    background-color: black;
    position: fixed;
    display: none;
}

@media only screen and (min-width: 930px) {
    .cart-notification-overlay {
        display: block;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100vw;
        height: 100vh;
        pointer-events: none;
        opacity: 0;
        z-index: 0;
        transition: all var(--duration-long) ease .1s;
    }

    .cart-notification-overlay.is-visible {
        pointer-events: all;
    }
}





/*------------------------------------*\
      #Cart Header
  \*------------------------------------*/


.cart-notification__header {
    align-items: flex-start;
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 2rem;
    padding-bottom: var(--level5);
    margin-top: 5.5rem;
}

@media screen and (min-width: 930px) {
    .cart-notification__header {
        margin-top: 3rem;
        padding-bottom: 0;
    }
}

.cart-notification__order-details {
    border-bottom: 1px solid rgb(var(--color-base-text));
    margin-bottom: var(--level7);
}


.cart-notification__heading {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-bottom: 0;
    margin-top: 0;
    text-transform: capitalize;
    font-family: var(--tertiary-font-family);
    letter-spacing: 1px;
    font-size: var(--h4);
    top: .25rem;
}

@media screen and (min-width: 930px) {
    .cart-notification__heading {
        font-size: var(--h3)
    }
}


.cart-notification__heading .icon-checkmark {
    color: rgb(var(--color-foreground));
    margin-right: 1rem;
    width: 1.3rem;
}

.cart-notification__close {
    background-color: transparent;
    border: none;
    width: 1.75rem;
    height: 1.75rem;
    top: .25rem;
    right: 0;
    position: absolute;
    color: rgb(var(--color-base-link));
}

.cart-notification__close:hover,
.cart-notification__close:focus {
    cursor: pointer;
}

.cart-notification__close .icon-close {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
}

.cart-notification__close .icon-close:after,
.cart-notification__close .icon-close:before {
    content: " ";
    height: 80%;
    width: 1px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgb(var(--color-base-link));
    margin: auto;
}

.cart-notification__close .icon-close:after {
    transform: rotate(45deg);
}

.cart-notification__close .icon-close:before {
    transform: rotate(-45deg);
}







/*------------------------------------*\
      #Cart Notification Product
  \*------------------------------------*/

.cart-notification__product {
    width: 100%;
    margin-bottom: 2rem;
}

@media screen and (min-width: 930px) {
    .cart-notification__product {
        margin-right: auto;
        margin-left: auto;
    }
}


.cart-notification__product {
    position: relative;
    width: 100%;
}


.cart-notification__product__inner {
    display: flex;
    width: 100%;
}

.cart-notification__product__image-container {
    background-color: #fff;
    display: block;
    position: relative;
    max-width: 9rem;
    width: 45%;
}

@media only screen and (min-width: 930px) {
    .cart-notification__product__image-container {
        max-width: 8rem;
    }
}

.cart-notification__product__image {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
    width: 100%;
    display: block;
}

.cart-notification__product__image img {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
}

.cart-notification__product__info {
    color: black;
    padding-left: 1rem;
    font-family: var(--secondary-font-family);
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
    position: relative;
    width: 100%;
}

@media screen and (min-width: 930px) {
    .cart-notification__product__info {
        padding-left: var(--level6);
    }
}


.cart-notification__product__info__title,
.cart-notification__product__info__variant,
.cart-notification__product__info__price {
    font-size: var(--h6);
}

.cart-notification__product__info__title {
    font-family: var(--primary-font-family);
    margin-bottom: var(--level1);
    max-width: 10rem;
    display: block;
    white-space: normal;
}


.product-option {
    display: flex;
}

.product-option .option-name {
    margin-right: var(--level2);
}


.cart-notification__product__info__price {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
    font-family: var(--primary-font-family);
}

.cart-notification__product__info__quantity-select {
    bottom: .7rem;
    left: 8rem;
    margin-bottom: 0;
    top: auto;
    display: none;
    position: absolute;
}

.cart-notification__product__info__quantity-select select {
    opacity: 0;
    z-index: 1;
    width: 100%;
    position: absolute;
    left: 0;
}

.cart-notification__remove-btn {
    position: absolute;
    right: 0;
    top: 0;
    text-transform: capitalize;
}

.cart-notification__remove-btn a {
    color: rgb(var(--color-base-link));
    font-family: var(--primary-font-family);
    font-size: var(--normal);
    text-decoration: none;
    text-transform: capitalize;
}

.cart-notification__remove-btn a:hover,
.cart-notification__remove-btn a:focus {
    text-decoration: underline;
}





/*------------------------------------*\
      #Cart Footer
\*------------------------------------*/

.cart-notification__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-bottom: var(--level5);
    padding-top: var(--level2);
    background: white;
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

@media only screen and (min-width: 930px) {
    .cart-notification__footer {
        max-width: 34em;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0;
    }
}

.cart-nofication__totals {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--level6);
    font-family: var(--primary-font-family);
}

.cart-nofication__totals__subtotal {
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-1);
    font-size: var(--h5);
}

.cart-nofication__totals__subtotal-value {
    font-size: var(--h5);
}

.cart-nofication__totals * {
    margin-bottom: 0;
}

@media screen and (min-width: 930px) {
    .cart-nofication__totals__subtotal {}
}



/*------------------------------------*\
      #Cart Links
  \*------------------------------------*/

.cart-notification__links {
    text-align: center;
    margin: auto;
    margin: auto;
}


@media screen and (min-width: 930px) {}



.cart-notification__links>* {
    margin-top: 1rem;
}


.cart-notification-product {
    height: 100%;
    position: relative;
    height: 70%
}


@media screen and (min-width: 930px) {
    .cart-notification-product {
        height: 78%
    }
}


.cart-notification-product ul {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    overflow-x: auto;
    padding-bottom: 5rem;
    overflow-y: auto;
    height: 100%;
}

.cart-notification-product ul::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cart-notification-product ul {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* 
  
  
  .cart-notification-product dl {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .cart-notification-product__image {
    border: 0.1rem solid rgba(var(--color-foreground), 0.03);
    margin-right: 1.5rem;
  }
  
  .cart-notification-product__name {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  .cart-notification-product__option {
    color: rgba(var(--color-foreground), 0.7);
    margin-top: 1rem;
  }
  
  .cart-notification-product__option + .cart-notification-product__option {
    margin-top: 0.5rem;
  }
  
  .cart-notification-product__option > * {
    display: inline-block;
    margin: 0;
  } */