/*------------------------------------*\
    #Announcement Bar
\*------------------------------------*/

#shopify-section-announcement-bar {
    z-index: 21;
    position: relative;
}

.announcement-bar {
    display: block;
    border-bottom: 1px solid rgb(var(--color-base-text));
    color: rgb(var(--color-base-text));
    background-color: rgb(var(--color-base-background-1));
}

.announcement-bar--dark {
    background-color: rgb(var(--color-base-background-2));
    color: rgb(var(--color-base-text));
}

.announcement-bar__link {
    display: block;
    width: 100%;
    padding: .75rem 2rem;
    text-decoration: none;
}

.announcement-bar__link:hover {
    color: rgb(var(--color-base-text));
}

.announcement-bar__link .icon-arrow {
    display: inline-block;
    pointer-events: none;
    margin-left: 0.8rem;
    vertical-align: middle;
    margin-bottom: 0.2rem;
}

.announcement-bar__link .announcement-bar__message {
    padding: 0;
}

.announcement-bar__message {
    text-align: center;
    padding: .75rem 2rem;
    margin: 0;
    font-family: var(--primary-font-family);
}

main {
    opacity: 0;
    animation: fade-in .2s ease-in-out forwards .3s
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}