/*------------------------------------*\
    #Product Images Modal
\*------------------------------------*/


.product-zoom-modal {
    background-color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    z-index: 100;
    opacity: 0;
    pointer-events: none;
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
}

@media only screen and (min-width: 769px) {
    .product-zoom-modal.is-visible {
        pointer-events: all;
        opacity: 1;
    }
}


.product-zoom-modal.is-hidden {
    pointer-events: none;
    opacity: 0;
}

.product-zoom-modal__close {
    position: absolute;
    top: var(--level2);
    width: 3rem;
    height: 3rem;
    font-weight: bold;
    z-index: 1;
    right: var(--level6);
    background-color: transparent;
    outline: 0;
    border: 0;
    text-decoration: none;
}

.product-zoom-modal__close:hover,
.product-zoom-modal__close:focus {
    text-decoration: underline;
}

.product-zoom-modal__pagination-container {
    position: absolute;
    z-index: 1;
    top: var(--level3);
    left: var(--level6);
    width: 80px;
}

.product-zoom-modal__pagination {
    z-index: 1;
    width: 100%;
}

.product-zoom-modal__pagination .slide {
    height: 80px !important;
    width: 80px !important;
    position: relative;
    overflow: hidden;
    background-color: rgb(var(--color-base-background-2));
}

.product-zoom-modal__pagination {}

.product-zoom-modal__slideshow {
    position: relative;
    z-index: 0 !important;
    overflow: auto;
    padding-top: var(--level3)
}


.product-zoom-modal__slideshow .scroller-slide {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
    height: 100%;
    margin-bottom: 80px;
}


.product-zoom-modal__slideshow {
    height: 100vh;
}


.product-zoom-modal__slideshow .scroller-slide .image-container {
    width: 80%;
    position: relative;
    padding-bottom: 80%;
    cursor: zoom-in;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(var(--color-base-background-2));
}


.product-zoom-modal__slideshow .scroller-slide .image-container img {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-images-slideshow__pagination__thumb {
    transition: all .2s cubic-bezier(0.16, 1, 0.3, 1);
    margin-bottom: var(--level1);
}

.product-images-slideshow__pagination__thumb:hover,
.product-images-slideshow__pagination__thumb:focus {
    opacity: .6;
    cursor: pointer;

}

.zoom-image {
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}


.zoom-image img {
    width: 100%;
}

.zoom-image:hover {
    cursor: grab;
}


.zoom-image:active {
    cursor: grabbing;
}


.zoom-image-indicator {
    position: absolute;
    z-index: 1;
    background: transparent;
    width: 3.5rem;
    top: var(--level2);
    right: var(--level1);
    outline: none;
    border: none;
    height: 3.5rem;
    transition: all .4s cubic-bezier(0.16, 1, 0.3, 1);
}

.zoom-image-indicator svg {
    width: 100%;
}

.zoom-image-indicator:hover,
.zoom-image-indicator:focus {
    transform: scale(.9)
}