.blurb-section {
    padding-top: 0;
    padding-bottom: 0;
}


@media screen and (min-width:600px) {
    .blurb-section__inner {
        display: flex;
    }
}


.blurb-section__image-container {
    width: 100%;
    border-bottom: 1px solid rgb(var(--color-base-text));
    overflow: hidden;
    background-color: rgb(var(--color-base-background-2));
}


@media screen and (min-width:600px) {
    .blurb-section__image-container {
        width: 50vw;
        border-bottom: 0;
    }
}


.blurb-section__image {
    padding-bottom: 90%;
    position: relative;
}

@media screen and (min-width:600px) {
    .blurb-section__image {
        padding-bottom: 140%;
    }
}

@media screen and (min-width:930px) {
    .blurb-section__image {
        padding-bottom: 100%;
    }
}



.blurb-section__image img {
    width: 100%;
    height: 101%;
    object-fit: cover;
    top: -1%;
    bottom: 0;
    object-position: center;
    position: absolute;
}


@media screen and (min-width:600px) {
    .blurb-section__image img {
        height: 120%;
    }
}



.blurb-section__copy {
    text-align: center;
    background-color: rgb(var(--color-base-background-3));
}

@media screen and (min-width:600px) {
    .blurb-section__copy {
        width: 50vw;
        border-left: 1px solid rgb(var(--color-base-text));
    }
}

.blurb-section__copy__inner {
    padding: var(--level6);
    padding-top: var(--level9);
    padding-bottom: var(--level5);
}


@media screen and (min-width:600px) {
    .blurb-section__copy__inner {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
}

.blurb-section__copy__heading {
    font-family: var(--tertiary-font-family);
    font-size: var(--h3);
    margin-bottom: var(--level9);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

@media screen and (min-width:600px) {
    .blurb-section__copy__heading {
        font-size: var(--h4);
    }
}

@media screen and (min-width:930px) {
    .blurb-section__copy__heading {
        font-size: var(--h3);
    }
}



.blurb-section__copy__body {
    font-size: var(--normal);
    margin-bottom: var(--level9);
    max-width: 30rem;
    margin-right: auto;
    margin-left: auto;
}

@media screen and (min-width:600px) {
    .blurb-section__copy__body {
        font-size: var(--micro);
    }
}

@media screen and (min-width:930px) {
    .blurb-section__copy__body {
        font-size: var(--h6);
        max-width: 32rem;
    }
}

@media screen and (min-width: 1600px) {
    .blurb-section__copy__body {
        font-size: var(--h4);
        max-width: 27em;
    }
}