
<link rel="stylesheet" href="{{ 'instagram-feed.css' | asset_url }}" media="print" onload="this.media='all'"> 
<script type="module" src="{{ 'instagram-feed.js' | asset_url }}" defer="defer"></script> 

<section class="instagram-feed  {% if section.settings.top_border == 'yes' %}has-top-border{% endif %} {% if section.settings.bottom_border == 'yes' %}has-bottom-border{% endif %}">
  <instagram-feed class="instagram-feed__inner" >
      <div class="instagram-feed__header">
          <h2 class="instagram-feed__heading">
              {{ section.settings.heading }}    
          </h2>
      </div>

      <ul id="instafeed" data-script-url="{{ 'instafeed.min.js' | asset_url }}"  class="instagram-feed__posts">
          <li class="instagram-feed__post">
              <span class="instagram-feed__post__inner">
              </span>
          </li>
          <li class="instagram-feed__post">
              <span class="instagram-feed__post__inner">
              </span>
          </li>
          <li class="instagram-feed__post">
              <span class="instagram-feed__post__inner">
              </span>
          </li>
          <li class="instagram-feed__post">
              <span class="instagram-feed__post__inner">
              </span>
          </li>
          <li class="instagram-feed__post">
              <span class="instagram-feed__post__inner">
              </span>
          </li>
      </ul>
  </instagram-feed>
</section>

{% schema %}
{
  "name": "Instagram Feed",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Border Elements"
    },
    {
      "type": "radio",
      "id": "top_border",
      "label": "Top Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "no"
    },
    {
      "type": "radio",
      "id": "bottom_border",
      "label": "Bottom Border",
      "options": [
        {
          "value": "yes",
          "label": "Yes"
        },
        {
          "value": "no",
          "label": "No"
        }
      ],
      "default": "yes"
    }
  ],
  "templates": [
    "index",
    "page"
  ],
  "presets": [
    {
      "name": "Instagram Feed"
    }
  ]
}
{% endschema %}
